.header {
    nav{
        .navItems {
            width:auto;
            height: 70px;
            display:flex;
            align-items: center;
                a{
                    text-decoration: none;
                    .nav_text {
                        .hover_nav {
                            width: 0%;
                            height: 2px;
                            background-color: rgb(70, 117, 200);
                        }
                    }
                    .nav_text:hover .hover_nav {
                        width: 100%;
                        animation: hover 0.8s ease-out;
                    }
                }
        }
        .navItems.active {
            font-weight: 700;
            .nav_text {
                color: rgb(70, 117, 200);
                font-weight: 700;
                transition:all .1s linear;
                .hover_nav {
                    width: 100%;
                    background-color: rgb(70, 117, 200);
                }
            }
        }
    
        @keyframes hover {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }
    }
    .search {
        border:solid 1px;
        .searchResult {
            box-shadow: 2px 2px 2px 2px grey;
            .title {
                span {
                    svg {
                        width: 100%;
                        height: 15px;
                        path {
                            fill: #393939;
                        }
                    }
                }
            }
            .result {
                .itemsResults{
                    .detail:hover{
                       transform: scale(1.1);
                       animation:scale .3s ease;
                    }
                    @keyframes scale {
                        0%{transform: scale(1);}
                        100%{transform: scale(1.1);}
                    }
                }
            }
        }
    }
    .icon {
        width: 10%;
        .detail {
            height:30px;
            .cart_Shopping {
                svg {
                    width:50%;
                    height: 100%;
                    path {
                        fill: #000;
                    }
                }

                .cart_contents {
                    display: none;
                    box-shadow: 2px 2px 2px 2px grey;
                    .cover {
                        .cartItem{
                            .item{
                                .trash {
                                    button {
                                        svg {
                                            height:40px;
                                            path {
                                                fill: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cart_Shopping:hover .cart_contents {
                display: flex;   
            }
    
            //==========  Icon user ==========
    
            .iconUser {
                svg {
                    height: 100%;
                    path {
                        fill: #000;
                    }
                }
            }
        }
        .showItems {
            box-shadow: 2px 2px 2px 2px rgb(90 89 89);
            
        }
    }
}
.headerMob{
    .navMob{
        .navDetail{
            transition: all linear .2s;
            .navClose{
                svg{
                    width:20px;
                    height: 20px;
                }
                a{
                    .cartMob{
                        svg{
                            width:25px;
                            height:25px;
                        }
                    }
                }
            }
            .navContent{
                .navItemsMob{
                    .iconNavMob{
                        svg{
                            height:50%;  
                        }
                    }

                }
                .navItemsMob:hover .iconNavMob svg path,.navItemsMob:hover a{
                    fill:rgb(70, 117, 200);
                    color:rgb(70, 117, 200);
                }
            }
            .navUser{
                .iconUser{
                    svg{
                        height: 70%;
                        margin-left:0%;
                    }
                }

            }


        }
    }
    .logoMob{
        width:20%;
        height: 100%;
    }
}

