.header{
    width:90%;
    height:70px;
    margin:0;
    background: transparent;
    position:relative;
    z-index: 11111111111111111111;
    margin-left:5%;
    margin-top:1%;
    .nav{
        width: 30%;
        height:70px;
        margin-left:0%;
        background: transparent;
        
    }
    ul{
        margin-top:0;
        height:70px;
    }
    ul li {
        height:70px;
        display: inline-block;
        margin-left:10%;
        margin-top:0.5%;
    }
    a{
        height:100%;
        text-decoration:none;
        font-size:20px;
        color:#000;
        line-height: 60px;
        .nav_text{
            height:80%;
            .hover_nav{
                width:0%;
                height:2px;
                background-color:#000;
            }
        }
        .nav_text:hover .hover_nav{
            width:100%;
            animation:hover .8s ease-out;
        }
    }
    
    @keyframes hover{
        0%{width:0%;}
        100%{width:100%}
    }
    
}
.logo{
    display:none;
    position: absolute;
    margin-top: -5%;
}
.logo img{
    width:130%;
    height:70px;
}
.search{
    display:inline-flex;
    width:22%;
    height:50%;
    position:absolute;
    margin-left:62%;
    margin-top:-3.8%;
    background-color: rgb(247, 247, 247);
    border-style:solid;
    border-width: 0.5px;
    border-radius:10px;
    font-size:18px;
    input{
        width:80%;
        height:100%;
        color:#000;
        font-size:18px;
        outline:0;
        background-color: transparent;
        border-style:none;
        margin-left:5%;
    }
    .iconSearch{
        width: 22%;
        height: 80%;
        background-color: rgb(70, 117, 200);
        margin-top: 1%;
        margin-right: 1%;
        border-radius: 10px;
        border-style: none;
        svg{
            height:80%;
            margin-top:4%;
            path{
                fill:rgb(41, 41, 41);
            }
        }
    }
}
.icon{
    width: 10%;
    margin-top: -3.9%;
    position: absolute;
    margin-left: 85%;
    .detail{
        width:100%;
        .cart_Shopping{
            width: 30%;
            height: 50px;
            margin-left: 10%;
            border-style: none;
            background-color: transparent;
            svg{
                height:55%;
                margin-top:15%;
                path{
                    fill:#000;
                }  
            }
            .show{
                width: 16px;
                height: 18px;
                background-color: red;
                border-radius: 45%;
                position: absolute;
                margin-left: 25%;
                margin-top: -30%;
                color: #fff;
                text-align: center;
                line-height: initial;
            }
            .cart_content{
                display: none;
                width: 1200%;
                min-height: 300px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 2px 2px 2px 2px grey;
                border-radius: 10px;
                margin-top:29%;
                z-index: 11111111111;
                padding-bottom: 25%;
                float: right;
                margin-right: -130%;
                .cover{
                    min-height:200px;
                    /* item in cart */
                    .cart_detail{
                        width: 100%;
                        display: inline-flex;
                        height: 50px;
                        margin-top:5%;
                        img{
                            width:50px;
                            height:50px;
                            margin-left:10%;
                            margin-top:10%;
                            position:absolute;
                        }
                        .information{
                            width:150%;
                            margin-left:60%;
                            position: absolute;
                            h4{
                                margin-top:5%;
                                text-align:left;
                            }
                        }
                        .button{
                            position: absolute;
                            margin-top: 10%;
                            margin-left: 225%;
                            display: inline-flex;
                             .reduce{
                                position: relative;
                                border-style: none;
                                background-color:transparent;
                                margin:-5px 20px;
                                font-size: 30px; 
                             }
                             .increment{
                                position: relative;
                                margin:-5px 10%;
                                font-size: 30px;
                                background-color:transparent;
                                border-style: none; 
                             }
                             .Count{
                                width: 25%;
                                position: relative;                               
                                margin-left: -15%;
                                margin-top:2%;
                                font-size: 20px;
                                padding:0 30px 0 30px;
                                .showCount{
                                    position: relative;
                                    width: 10%;
                                }
                             }
                        }
                        .trash{
                            width:25%;
                            position: absolute;
                            margin-left:320%;
                            margin-top:12%;
                            button{
                                border-style:none;
                                background-color: transparent;
                                svg{
                                    width:50%;
                                    path{
                                        fill:#000;
                                    }
                                }
                            }
                        }
                    }
                }
                /* button---payment */
                .payment{
                    position:relative;
                    width:30%;
                    height:30px;
                    margin-top: 10%;
                    margin-left: 75%;
                        button{
                            width:70%;
                            height:30px;
                            border-style:none;
                            border-radius:10px;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 2px 2px 2px 2px rgb(162, 160, 160);                         
                            a{
                                color:#000;
                                font-size:15px;
                                line-height: 30px;
                                text-decoration: none;
                            }
                        }
                }
                .removeItems{
                    float:right;
                    width: 30%;
                    height: 30px;
                    margin-top: -5.7%;
                    margin-right: 20%;
                    button{
                        width:70%;
                        height:30px;
                        border-style:none;
                        border-radius:10px;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 2px 2px 2px 2px rgb(162, 160, 160);  
                        a{
                            color:#000;
                            font-size:15px;
                            line-height: 30px;
                            text-decoration: none;
                        }                       
                        
                    }
                }
                
            }
        }
        .cart_Shopping:hover .cart_content{
            display:block;
        }
        
        //==========  Icon user ==========
        
        .user{
            width: 30%;
            height: 50px;
            margin-left: 60%;
            margin-top: -40%;
            border-style: none;
            background-color: transparent;
            position: absolute;
            svg{
                height:55%;
                margin-top:25%; 
                path{
                    fill:#000;
                }  
            }
        }
        .detail{
            position: absolute;
            width:150%;
            height:300px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2px 2px 2px 2px rgb(90, 89, 89);
            border-radius: 10px;
            margin-top:-1%;
            z-index: 11111111111111111111111111;
            .box{
                width:100%;
                .user_information, .list_order{
                    height:30px;
                    a{
                        font-size: 17px;
                        text-align: left;
                        margin-left:5%;
                        color:#000;
                        font-weight: 600;
                    }
                    a:hover{
                        font-size: 19px;
                    }
                }
                .buttonLog{
                    position: absolute;
                    width:35%;
                    height:30px;
                    margin-top: 85%;
                    margin-left: 33%;
                    a{  
                        input{
                            width:100%;
                            height:30px;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 2px 2px 2px 2px rgb(162, 160, 160);  
                            border-radius:10px;
                            outline: none;
                            border-style:none;
                            font-weight: 600;
                        }
                    }
                    
                }
            }
        }
    }
}
