
.login_container{
    position: relative;
    width:100%;
    display:flex;
    justify-content: center;
    background:url("https://i.pinimg.com/564x/e0/89/27/e089279cbb81453e64bdbde8a90e4178.jpg")no-repeat;
    background-size:cover;
    background-position: center;
    .form{
        width:50%;
        min-height: 350px;
        height:600px;
        margin-top:5%;
        .backHome{
            position:absolute;
            width:40%;
            margin-left:2%;
            margin-top:2%;
            z-index: 11;
            opacity:1;
            svg{
                height:2em;
                path{
                    fill:transparent;
                    stroke:#fff;
                    stroke-width: 20;
                }
            }
        }
        form{

            width:100%;
            background: rgb(66 66 66 / 33%);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.2px);
            -webkit-backdrop-filter: blur(4.2px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            height:500px;
            text-align:center;
            position: relative;
            transition: all 0.2s ease-in-out;
            display:flex;
            justify-content: center;
            img{
                width:40%;
                height:500px;
                border-radius:16px;
                opacity:0.8;
                object-fit: contain;
                object-position: 0% 0;
            }
            .itemsForm{
                width:60%;
                height:100%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                
                h2{
                    width:100%;
                    display: flex;
                    padding: auto;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    color:#fff;
                }
                .detail{
                    width:100%;
                    height:60%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: space-around;
                    .input{
                        width:80%;
                        height:15%;
                        background: rgba(174, 174, 174, 0);
                        border-bottom-style: solid;
                        border-color: #fff;
                        margin-top:4%;
                        input{
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            border-style: none;
                            outline: 0;
                            font-size: 25px;
                            font-weight: 550;
                            padding: 0 20px;
                            color:rgb(70, 117, 200);
                        }
                        input::placeholder{
                            color:#fff;
                        }
                        
                        .eyeSlash{
                            margin-top:-9%;
                            margin-left:90%;
                            cursor: pointer;
                            svg{
                                path{
                                    fill:#fff;
                                    
                                }
                            }
                        }
                    }
                    button{
                        width:80%;
                        height:12%;
                        font-size: large;
                        font-style:inherit;
                        font-weight: 600;
                        border-style:none;
                        border-radius:10px;
                        color:#fff;
                        background-color: rgb(70, 117, 200);
                        cursor: pointer;
                    }
                    .forgotPass,.navigation{
                        text-align: right;
                        p{
                            color: #ffffff;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 16px;
                            cursor: pointer;
                        }
                        p:hover{
                           color:#c30202;
                        }
                    }
                    .navigation{
                        p{
                            margin-top: 1%;
                            margin-left:14%;
                            text-decoration: none;
                        }
                    }
                }
                .loginIcon{
                    width: 100%;
                    height: 10%;;
                    display: flex;
                    justify-content: space-evenly;  
                    .Icon{
                        width:32%;
                        height:35px;
                        background-color: #3b5998;
                        border:none;
                        border-radius: 10px;
                        outline: none;
                        color:#ffffff;
                        cursor: pointer;
                        display:flex;
                        justify-content: space-around;
                        
                        svg{
                            width:25px;
                            height:30px;
                            margin:auto 2%;
                            
                        }
                        span{
                            width: 100%;
                            display: flex;
                            
                            flex-wrap: wrap;
                            align-content: center;
                            justify-content: center;
                        }
                        
                    }
                    .Icon:nth-child(2){
                        background-image:linear-gradient(to left,#DB4437,#F4B400,#0F9D58,#4285F4);
                    }
                    .Icon:nth-child(3){
                        background-color: #24292e;
                    }
                    
                    
                }
            }
        }
        
    }
}
.falseMess{
    display:none;
    width: 250px;
    height:50px;
    top:100px;
    background-color: #ececec;
    position: absolute;
    transition: all .1s linear;
    border-radius:10px;
    box-shadow: 1px 2px 1px 1px grey;
    animation:false .1s alternate linear;
    .falseCT{
        width:80%;
        height:100%;
        padding:2% 4%;
        p{
            font-size: 10px;
            font-weight: 550;
            color: rgb(70, 117, 200);
        }
    }
    .falseBTN{
        width:20%;
        height:100%;
        display:flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding:2% 4%;
        svg{
            cursor: pointer;
            path{
                fill:rgb(70, 117, 200)
            }
        }
    }
}
@keyframes false{
    0%{transform: translateX(-50%);}
    100%{transform: translateX(2%);}
}
@media (min-width:850px)and (max-width:1400px){
    .background{
        margin:0;
        width:100%;
        height:auto;
        position:absolute;
        img{
            width:100%;
            height:auto;
        }
    }
    .login_container{
        .form{
            width:80%;
            form{
                width:100%;
                h2{
                    width:100%;
                    text-align: center;
                    margin-left:-8%;
                }
                img{
                    width:50%;
                    height:100%;
                }
                .itemsForm{
                    width:100%;
                    h2{
                        margin:0 1%;
                    }
                    .detail{
                        .input{
                            input{
                                font-size:15px;
                            }
                            .eyeSlash{
                                display:none;
                            }
                        }
                        .navigation{
                            p{
                                margin-top:-1%;
                            }
                        }
                    }
                    .loginIcon{
                        /* flex-direction: column; */
                        margin-top:2%;
                        .Icon{
                            width: 80%;
                            margin:2% auto;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:711px)and (max-width:849px){
    .background{
        margin:0;
        width:100%;
        height:auto;
        position:absolute;
        img{
            width:100%;
            height:auto;
        }
    }
    .login_container{
        .form{
            width:80%;
            form{
                width:100%;
                h2{
                    width:100%;
                    text-align: center;
                    margin-left:-8%;
                }
                img{
                    display: none;
                }
                .itemsForm{
                    width:100%;
                    h2{
                        margin:0 1%;
                    }
                    .detail{
                        .input{
                            input{
                                font-size:15px;
                            }
                            .eyeSlash{
                                display:none;
                            }
                        }
                        .navigation{
                            p{
                                margin-top:-1%;
                            }
                        }
                    }
                    .loginIcon{
                        margin-top:2%;
                        .Icon{
                            width: 30%;
                            margin:2% auto;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:710px){
    .background{
        display:none;
    }
    .login_container{
        .form{
            width:80%;
            form{
                width:100%;
                h2{
                    width:100%;
                    text-align: center;
                    margin-left:-8%;
                }
                img{
                    display:none;
                }
                .itemsForm{
                    width:100%;
                    h2{
                        margin:0 1%;
                    }
                    .detail{
                        .input{
                            input{
                                font-size:15px;
                            }
                            .eyeSlash{
                                display:none;
                            }
                        }
                        .navigation{
                            p{
                                margin-top:-1%;
                            }
                        }
                    }
                    .loginIcon{
                        flex-direction: column;
                        margin-top:2%;
                        .Icon{
                            width: 80%;
                            margin:2% auto;
                        }
                    }
                }
            }
        }
    }
}

