.falseMess{
    display:flex;
    width: 250px;
    height:50px;
    top:100px;
    background-color: #ececec;
    position: absolute;
    transition: all .1s linear;
    border-radius:10px;
    box-shadow: 1px 2px 1px 1px grey;
    animation:false .1s alternate linear;
    .falseCT{
        width:80%;
        height:100%;
        padding:2% 4%;
        p{
            font-size: 10px;
            font-weight: 550;
            color: rgb(70, 117, 200);
        }
    }
    .falseBTN{
        width:20%;
        height:100%;
        display:flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding:2% 4%;
        svg{
            cursor: pointer;
            path{
                fill:rgb(70, 117, 200)
            }
        }
    }
}
@keyframes false{
    0%{transform: translateX(-50%);}
    100%{transform: translateX(2%);}
}


