
.login_container{
    width:100%;
    min-height:500px;
    height:auto;
    display:flex;
    justify-content: center;
    .form{
        width:50%;
        min-height: 350px;
        height:600px;
        margin-top:4%;
        .backHome{
            position:absolute;
            width:40%;
            margin-left:2%;
            margin-top:2%;
            z-index: 111111111111;
            opacity:1;
            svg{
                height:2em;
                path{
                    fill:transparent;
                    stroke:#fff;
                    stroke-width: 20;
                }
            }
        }
        form{
            width:100%;
            background: rgb(66 66 66 / 33%);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.2px);
            -webkit-backdrop-filter: blur(4.2px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            height:500px;
            text-align:center;
            position: relative;
            transition: all 0.2s ease-in-out;
            display:flex;
            img{
                width:40%;
                height:500px;
                border-radius:16px;
                opacity:0.8;
                object-fit: contain;
                object-position: 0% 0;
            }
            .itemsForm{
                width:60%;
                height:100%;
                display:flex;
                flex-direction: column;
                h2{
                    width:100%;
                    height: 20%;
                    display: flex;
                    padding: auto;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                .detail{
                    width:100%;
                    height:60%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: space-around;
                    .input{
                        width:80%;
                        height:15%;
                        background: rgba(174, 174, 174, 0);
                        border-bottom-style: solid;
                        margin-top:4%;
                        input{
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            border-style: none;
                            outline: 0;
                            font-size: 20px;
                            padding: 0 20px;
                            
                        }
                        .eyeSlash{
                            margin-top:-9%;
                            margin-left:90%;
                        }
                    }
                    button{
                        width:80%;
                        height:12%;
                        font-size: large;
                        font-style:inherit;
                        font-weight: 600;
                        border-style:none;
                        border-radius:10px;
                        background-color: rgb(70, 117, 200);
                    }
                    .forgotPass,.navigation{
                        text-align: right;
                        a{
                            color: #000;
                            text-decoration: none;
                            font-weight: 600;
                            font-size: 16px;
                            
                        }
                        a:hover{
                           color:#c30202;
                        }
                    }
                    .navigation{
                        a{
                            margin-top: 14%;
                            margin-left:14%;
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
                .loginIcon{
                    width: 100%;
                    height: 10%;;
                    /* margin-top: 48%; */
                    /* position: absolute; */
                    display: flex;
                    justify-content: space-evenly;
                    .Icon{
                        height:25px;
                        svg{
                            height:40px;
                        }
                        .facebook{ 
                            path{
                                fill:#00246b;
                            }
    
                        }
                        
                    }
                    .Icon:nth-child(2){
                        svg{
                            width:50px;
                        }
                    }
                    .Icon:nth-child(3){
                        svg{
                            width:39px;
                            height:39px;
                            background-color: rgb(12, 12, 12);
                            border-radius:50%;
                            path{
                                fill:#fff;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
@media (max-width:1500px){
    .login_container{
        .form{
            width:80%;
            form{
                width:100%;
                h2{
                    width:100%;
                    text-align: center;
                    margin-left:-8%;
                }
                img{
                    display:none;
                }
                .itemsForm{
                    width:100%;
                    h2{
                        margin:0 1%;
                    }
                    .detail{
                        .input{
                            input{
                                font-size:15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

