@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,200;1,500&display=swap');

:root {
    --primary:#fe2c55;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
}
body { 
    font-family: 'Montserrat', sans-serif;
    font-size:1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background: rgb(32,32,32);
    background:  rgb(255, 255, 255);
    overflow-x: hidden;
}
#root{
    width:100%;
    height:100%;
    .App{
        width:100%;
        height:100%;
        .wrapper{
            width:100%;
            height:100%;
        }
    }
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, #f9f6f6	,#fae6e6,#ffa0a0,#fe7575);
    border-radius: 10px;
}

.mainPage{
    width:100%;
    height:70%;
}
.content{
    width:100%;
    height:100%;
}
.slide-container{
    width:100%;
    height:500px;
}
.react-slideshow-container .default-nav{
    margin:0 2%;
    background-color: transparent;
}
.react-slideshow-container .default-nav:hover{
    background-color: rgb(225, 161, 114);
    animation:button ease 1s;
}
@keyframes button{
    0%{background-color: rgb(225, 211, 200);}
    100%{background-color: rgb(225, 161, 114);}
}
.each-slide {
    background-repeat: no-repeat;
    width:100%;
    height:500px;
}
.each-slide div{
    width:100%;
    height:500px;
    margin-top:2%;
}
 .each-slide div  img{
    width:90%;
    height:500px;
    margin-left:5%;
}
