/* Animation */
@keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes anima {
    0% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
    25% {
        background-image: linear-gradient(to right, #999999, #888888, #777777, #aaaaaa);
    }
    50% {
        background-image: linear-gradient(to right, #888888, #777777, #aaaaaa, #999999);
    }
    75% {
        background-image: linear-gradient(to right, #777777, #aaaaaa, #999999, #888888);
    }
    100% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
}
@keyframes bc{
    0%{
        background-size: 0;
    }
    100%{
        background-size: cover;
    }
}
.home {
    width: 100%;
    height: 100%;
    h1{
        width:100%;
        text-align: center;
        cursor: pointer;
        color:rgb(20, 97, 230);
        font-weight: 650;
        font-size: 2.2em;
        
        border-top:solid 0.5px;
        padding:0 2%;
        
    }
    .featuredProduct {
        width: 100%;
        height: 30em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        h2 {
            height: 15%;
            text-align: center;
            cursor: pointer;
            color:rgb(20, 97, 230);
            font-weight: 650;
            font-size: 2.2em;
            
        }
        
        .fpDetail{
            width: 100%;
            height: 100%;
            display: flex;
            overflow-x: scroll;
            padding: 1% 0% 4% 4%;
            cursor: pointer;
            &::-webkit-scrollbar {
                height: 5px;
            }
            .fpItems{
                scroll-snap-align: start;
                min-width: 200px;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 5%;
                transform: scale(1);
                opacity:1;
                animation:op .5s alternate linear;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: inset -10px -10px 15px rgba(207, 205, 205, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
                border: 1px solid rgba(255, 255, 255, 0.3);
                .fpImg {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 70%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .fpTitle {
                    width: 100%;
                    height: 10%;
                    text-align: center;
                    color: #940606;
                    font-size: 15px;
                    font-weight: 550;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .fpPrice {
                    width: 100%;
                    height: 10%;
                    color: #940606;
                }
                .fpButton {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: space-around;
                    button {
                        width: 30%;
                        height: 50%;
                        outline: none;
                        border-radius: 10px;
                        border: none;
                        background-color: rgb(70, 117, 200);
                        cursor: pointer;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        svg {
                            height: 15px;
                            path {
                                fill: #fff;
                            }
                        }
                    }
                    button:hover {
                        background-color: rgb(4, 87, 231);
                    }
                    button:nth-child(3):hover {
                        svg {
                            path {
                                fill: rgb(212, 0, 0);
                            }
                        }
                    }
                }
            }
            .fpItems:hover{
                box-shadow: -5px -5px 10px rgba(163, 163, 163, 0.5),10px 10px 15px rgba(70,70,70,0.12);
                
                transition:all 1s; 
            }
            @keyframes op{
                0%{
                    
                    opacity:0
                }
                100%{opacity:1}
            }
        }
    }
    .product {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        animation:bc .5s alternate linear;
        .imageBC{
            width: inherit;
            height:max-content;
            position: absolute;
            z-index:-11111111;
            object-fit: cover;
            background-size:auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .product-info {
            width: 20%;
            height: 350px;
            margin: 2%;
            transform: scale(1, 1);
            border-radius: 10px;
            opacity: 1;
            cursor: pointer;
            .product-detail {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding-bottom:2%;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: inset -10px -10px 15px rgba(207, 205, 205, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
                border: 1px solid rgba(255, 255, 255, 0.3);
                .image {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 130px;
                        object-fit: contain;
                        mix-blend-mode: color-burn;
                        background-image: none !important;
                    }
                }
                .items {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .title {
                        width: 100%;
                        height: 10%;
                        p {
                            text-align: center;
                            margin-left: 0%;
                            font-size: 20px;
                            height: 50px;
                            width: 100%;
                            color: #ff0505;
                            font-weight: 600;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    .productAccess {
                        width: 100%;
                        height: 36%;
                        .information {
                            padding-left: 3%;
                            p {
                                font-size: 16px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color:#000;
                                font-weight: 550;
                            }
                        }
                    }
                    .items-child {
                        width: 100%;
                        height: 21%;
                        display: flex;
                        justify-content: space-between;
                        .money {
                            width: 50%;
                            font-size: 20px;
                            margin-left: 3%;
                            color: #ff0505;
                        }
                        .button {
                            width: 40%;
                            display: flex;
                            justify-content:space-between;
                            flex-direction: row-reverse;
                            margin-right:3%;
                            button {
                                width: 45%;
                                height: 30px;
                                font-size: 16px;
                                border: none;
                                border-radius: 10px;
                                background-color: rgb(70, 117, 200);
                                cursor: pointer;
                                svg {
                                    path {
                                        fill: #fff;
                                    }
                                }
                            }
                            button:hover {
                                background-color: rgb(4, 87, 231);
                                text-decoration: underline;
                                color: #fff;
                                transition:all 1s;
                            }
                        }
                    }
                }
            }
        }
        .product-info:nth-child(even){
            .product-detail{
                opacity: 1;
                transform: translateY(0%);
                animation:trans .5s alternate linear
            }
        }
        .product-info:nth-child(odd){
            .product-detail{
                opacity: 1;
                transform: translateY(0%);
                animation:trans2 .5s alternate linear
            }
        }
        @keyframes  trans{
            0%{opacity:0;transform: translateY(-50%)}
            100%{opacity:1;transform: translateY(0%)}
        }
        @keyframes  trans2{
            0%{opacity:0;transform: translateY(50%)}
            100%{opacity:1;transform: translateY(0%)}
        }
        .product-info:hover {
            
            .product-detail{
                box-shadow: -10px -10px 15px rgba(163, 163, 163, 0.5),10px 10px 15px rgba(70,70,70,0.12);
                transition:all 1s;
                .items{
                    .productAccess{
                        .information{
                            p{
                                color:#020a7c;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .Access {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around;
        animation:bc .5s alternate linear;
        .accDemo {
            min-width: 160px;
            width: 21%;
            height: auto;
            transform: scale(1, 1);
            border-radius: 10px;
            padding-bottom: 2%;
            cursor: pointer;
            .accDemo_Child {
                width: 100%;
                display: flex;
                flex-direction: column;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: inset -10px -10px 15px rgba(207, 205, 205, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);

                border: 1px solid rgba(255, 255, 255, 0.3);
                padding:0 2%;
                .image {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 75%;
                        height: 150px;
                        object-fit: contain;
                    }
                }
                .title {
                    width: 100%;
                    height: 40px;
                    p {
                        text-align: center;
                        margin-left: 0%;
                        font-size: 20px;
                        height: 50px;
                        width: 100%;
                        color: #ff0505;
                        overflow: hidden;
                        white-space:nowrap;
                        text-overflow: ellipsis;
                        font-weight: 600;
                    }
                }
                .accessInf{
                    width:100%;
                    color:#000;
                    font-weight: 550;
                }
                .items-child {
                    width: 100%;
                    height: 21%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10%;
                    .price {
                        width: 50%;
                        height: 40px;
                        color: #ff0505;
                        font-size: 20px;
                        font-weight: 500;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .button {
                        width: 50%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row-reverse;
                        button {
                            width: 40%;
                            height: 30px;
                            font-size: 16px;
                            border: none;
                            border-radius: 10px;
                            background-color: rgb(70, 117, 200);
                            margin-right: 5%;
                            cursor: pointer;
                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                        button:hover {
                            background-color: rgb(4, 87, 231);
                            text-decoration: underline;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .accDemo:nth-child(odd){
            .accDemo_Child{
                transform:translateX(0%);
                animation:trans .5s alternate linear;
                transition: all .5s linear;
            }
            
        }
        .accDemo:nth-child(even){
            .accDemo_Child{
                transform:translateX(0%);
                animation:trans2 .5s alternate linear;
                transition: all .5s linear;
            }
        }
        .accDemo:hover {
            .accDemo_Child{
                box-shadow: -10px -10px 15px rgba(163, 163, 163, 0.5),10px 10px 15px rgba(70,70,70,0.12);
                transition:all 1s;
                .accessInf{
                    color:#020a7c;
                }
            }
        }
    }
    .contact{
        width:100%;
        height:250px;
        display:flex;
        justify-content: center;
        opacity: 1;
        transition: height .1s linear;
        .content{
            width:80%;
            height:100%;
            display:flex;
            .items{
                width:30%;
                height:100%;
                display:flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-around;
                
                h2{
                    width:100%;
                    text-align: center;
                }
                .contactIcon{
                    width:100%;
                    height:80%;
                    .contactChild{
                        width:60%;
                        height:30px;
                        margin:3% auto;
                        border-radius:10px;
                        padding-left:2%;
                        display:flex;
                        flex-wrap: wrap;
                        align-content: center;
                        animation:oP 2s alternate linear infinite;
                        transition: all 5s linear;
                        cursor: pointer;
                        svg{
                            width:10%;
                            height:100%;
                            margin:auto 0;
                            
                        }
                        span{
                            margin:auto 2%;
                            color:#fff;
                            font-weight: 550;
                        }
                    }
                    .contactChild:nth-child(1){
                        background-color: #3b5998;
                        animation-delay: 0s;
                        svg{
                            path{
                                fill:#fff
                            }
                        }                       
                    }
                    .contactChild:nth-child(2){
                        background-color: #24292e;
                        animation-delay: 0.4s;
                        svg{
                            path{
                                fill:#fff
                            }
                        }
                    }
                    .contactChild:nth-child(3){
                        background-image:linear-gradient(to left,#DB4437,#F4B400,#0F9D58,#4285F4);
                        animation-delay: 0.8s;
                    }
                    
                }
                .contactIP{
                    width:80%;
                    height:80%;
                    display:flex;
                    flex-direction: column;
                    position: relative;
                    margin:0 auto;
                    label {
                        
                        display: inline-block;
                        font-weight: 600;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        background-color: #ffffff;
                        padding: 1px 5px;
                        font-size: 12px;
                        transform: translateY(-50%);
                        color: #222037;
                        border-radius:10px;
                      }
                      input {

                        padding: 15px;
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        border: 1px solid #6a5af9;
                        border-radius: 4px;
                        background-color: transparent;
                        color: rgb(37, 33, 33);
                        outline: none;
                      }
                      textarea{
                        width:100%;
                        outline: none;
                        border-radius: 4px;
                        padding-left:2.5%;
                        margin-top:4%;
                        border: 1px solid #6a5af9;
                      }
                      button{
                        width:70%;
                        height:30px;
                        margin:2% auto;
                        border-radius:10px;
                        outline: none;
                        border:none;
                        background-color: rgb(70, 117, 200);
                        color:#fff;
                        font-size: 20px;
                        cursor: pointer;
                      }
                      
                }
            }
            .items:nth-child(2){
                width:60%;
                
            }
        }
    }
    @keyframes oP{
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
    }
}

@media (max-width: 1200px) and (min-width: 761px) {
    .home {
        .list {
            display: none;
        }
        h1{
            font-size: 2em;
        }
        .product {
            .product-info {
                min-width: 200px;
                .product-detail {
                    padding: 1% 0% 4% 0%;
                    /* .image{} */
                    .items {
                        .title {
                            font-size: 18px;
                        }
                        /* .productAccess{
                        .information{
                            
                        }
                       } */
                        .items-child {
                            .money {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 760px) and (min-width: 610px) {
    .home {

        h1{
            font-size: 3em;
        }
        .product {
            justify-content: space-around;
            .product-info {
                min-width: 250px;
                .product-detail {
                    padding: 1% 0% 4% 0%;
                    /* .image{} */
                    .items {
                        /* .title{} */
                        /* .productAccess{
                        .information{
                            
                        }
                       } */

                        .items-child {
                            .money {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
        .contact{
            height:450px;
            .content{
                flex-direction: column;
                .items{
                    width:100%;
                    .contactIcon{
                        flex-direction: column;
                    }
                }
                .items:nth-child(1){
                    display:flex;
                    flex-direction: column;
                }
                .items:nth-child(2){
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 609px) {
    .home {

        h1{
            font-size: 2em;
        }
        .product {
            justify-content: space-around;
            .product-info {
                min-width: 148px;
                /* min-height: 425px; */
                .product-detail {
                    padding: 1% 0% 4% 0%;
                    .image {
                        height: 24%;
                    }
                    .items {
                        justify-content: space-evenly;
                        .title {
                            p {
                                font-size: 16px;
                            }
                        }
                        .productAccess {
                            height: auto;
                            .information {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                        .items-child {
                            flex-direction: column;
                            justify-content: space-around;
                            .money {
                                width: 100%;
                                font-size: 12px;
                            }
                            .button {
                                width: 100%;
                                button {
                                    width: 48%;
                                    height: 20px;
                                    border-radius: 5px;
                                    svg {
                                        height: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-info:hover{
                transform: scale(1);
            }
        }
        .Access {
            .accDemo {
                .accDemo_Child {
                    .title {
                        p {
                            font-size: 15px;
                        }
                    }
                    .items-child {
                        flex-direction: column;
                        .price {
                            width: 100%;
                            font-size: 15px;
                            padding-left: 4%;
                        }
                        .button {
                            width: 100%;
                            button {
                                width: 48%;
                                height: 20px;
                                border-radius: 5px;
                                svg {
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .accDemo:hover{
                transform: scale(1);
            }
        }
        .contact{
            height:550px;
            .content{
                flex-direction: column-reverse;
                .items{
                    width:100%;
                    
                    .contactIcon{
                        height:50%;
                        display:flex;
                        flex-direction: column;
                        
                    }
                }
                .items:nth-child(1){
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
                .items:nth-child(2){
                    width: 100%;
                }
            }
        }
    }
}
