/* Animation */
@keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes anima {
    0% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
    25% {
        background-image: linear-gradient(to right, #999999, #888888, #777777, #aaaaaa);
    }
    50% {
        background-image: linear-gradient(to right, #888888, #777777, #aaaaaa, #999999);
    }
    75% {
        background-image: linear-gradient(to right, #777777, #aaaaaa, #999999, #888888);
    }
    100% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
}
@keyframes bc {
    0% {
        background-size: 0;
    }
    100% {
        background-size: cover;
    }
}
@keyframes textClip {
    to {
        background-position: 200% center;
    }
}
.animate{
    animation: trans2 0.2s alternate linear;
}
.textEffect {
    font-size: 70px !important;
    background: linear-gradient(to right, #de3a2b 10%, #f05b05 30%,#dfbf0e 50%, #d52d2d 70%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textClip 5s linear infinite;
}
.flex-2{
    flex:1 1 15%
}
.home {
    width: 100%;
    height: 100%;
    h1 {
        width: 100%;
        text-align: center;
        cursor: pointer;
        color: rgb(20, 97, 230);
        font-weight: 650;
        font-size: 50px;
        padding: 0 2%;
    }
    .featuredProduct {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        .itemsFeat {
            padding: 0 1%;
            .click {
                width: 10%;
                height: 15%;
                margin: auto;
                background-color: transparent;
                border: none;
                cursor: pointer;
                border-radius: 40%;
                svg {
                    width: 80%;
                    height: 80%;
                    margin: auto;
                    polygon {
                        fill: #00e1fa;
                    }
                }
                &:hover {
                    svg {
                        polygon {
                            fill: #0008fa;
                            transition: all 0.3s linear;
                        }
                    }
                }
            }
            .fpDetail {
                overflow-x: scroll;
                padding: 1% 0% 2% 2%;
                cursor: pointer;
                &::-webkit-scrollbar {
                    height: 5px;
                }
                .fpItems {
                    scroll-snap-align: start;
                    min-width: 230px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-right: 4%;
                    transform: scale(1);
                    opacity: 1;
                    animation: op 0.5s alternate linear;
                    border-radius: 8px;
                    transition: all 0.5s linear;
                    .fpImg {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    .fpTitle {
                        width: 100%;
                        height: 10%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 550;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .fpPrice {
                        width: 100%;
                        font-size: 18px;
                    }
                    .fpButton {
                        width: 100%;
                        height: 15%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: space-around;
                    }
                }
                @keyframes op {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .h-soldProduct {
        .sold-first .sold-detail,
        .sold-second .sold-detail {
            animation: trans2 0.5s alternate linear;
        }
    }
    .h-viewProduct {
        .view-first .view-detail,
        .view-second .view-detail {
            animation: trans2 0.5s alternate linear;
        }
    }
    .h-product {
        animation: bc 0.5s alternate linear;
        .product-info {
            .product-detail {
                animation: trans2 0.5s alternate linear;
            }
        }
        @keyframes trans2 {
            0% {
                opacity: 0;
                transform: translateY(50%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .product-info:hover {
            .product-detail {
                .items {
                    .accessInf {
                        .items-brand,
                        .items-type {
                            background-color: #29295c;
                            color: #fff;
                            transition: all 0.2s linear;
                        }
                    }
                    .productAccess {
                        .information {
                            p {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .h-access {
        animation: bc 0.5s alternate linear;
        .accDemo {
            .accDemo_Child {
                animation: trans2 0.5s alternate linear;
            }
        }
        .accDemo:hover {
            .accDemo_Child {
                .accessInf {
                    p {
                        color: white;
                    }
                }
            }
        }
    }

    @keyframes oP {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}
