/* Animation */
@keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes anima {
    0% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
    25% {
        background-image: linear-gradient(to right, #999999, #888888, #777777, #aaaaaa);
    }
    50% {
        background-image: linear-gradient(to right, #888888, #777777, #aaaaaa, #999999);
    }
    75% {
        background-image: linear-gradient(to right, #777777, #aaaaaa, #999999, #888888);
    }
    100% {
        background-image: linear-gradient(to right, #aaaaaa, #999999, #888888, #777777);
    }
}
@keyframes bc{
    0%{
        background-size: 0;
    }
    100%{
        background-size: cover;
    }
}
.home {
    width: 100%;
    height: 100%;
    h1{
        width:100%;
        text-align: center;
        cursor: pointer;
        color:rgb(20, 97, 230);
        font-weight: 650;
        font-size: 50px;
        padding:0 2%;
        
    }
    .featuredProduct {
        width: 100%;
        height: 30em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        .itemsFeat{
            padding:0 1%;
            .click{
                width:10%;
                height:15%;
                margin:auto;
                background-color: transparent;
                border:none;
                cursor: pointer;
                border-radius:40%;
                svg{
                    width:80%;
                    height:80%;
                    margin:auto;
                    polygon{
                        fill:#00e1fa;
                    }
                }
                &:hover{
                    svg{
                        polygon{
                            fill:#0008fa;
                            transition: all .3s linear;
                        } 
                    }
                }
            }
            .fpDetail{
                overflow-x: scroll;
                padding: 1% 0% 4% 4%;
                cursor: pointer;
                &::-webkit-scrollbar {
                    height: 5px;
                }
                .fpItems{
                    scroll-snap-align: start;
                    min-width: 200px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-right: 4%;
                    transform: scale(1);
                    opacity:1;
                    animation:op .5s alternate linear;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 8px;
                    transition:all .5s linear; 
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    .fpImg {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                    }
                    .fpTitle {
                        width: 100%;
                        height: 10%;
                        text-align: center;
                        color: #940606;
                        font-size: 20px;
                        font-weight: 550;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .fpPrice {
                        width: 100%;
                        height: 10%;
                        color: #940606;
                        font-size: 18px;
                    }
                    .fpButton {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: space-around;
                        .button{
                            cursor: pointer;
                            svg {
                                height: 15px;
                                path {
                                    fill: #000000;
                                }
                            }
                        }
                        
                        button:hover {
                            svg {
                                path {
                                    fill: rgb(255, 255, 255);
                                }
                            }
                        }
                        button:nth-child(3):hover {
                            svg {
                                path {
                                    fill: rgb(212, 0, 0);
                                }
                            }
                        }
                    }
                }
                .fpItems:hover{
                    box-shadow: -5px -5px 10px rgba(163, 163, 163, 0.5),10px 10px 15px rgba(70,70,70,0.12);
                }
                @keyframes op{
                    0%{
                        
                        opacity:0
                    }
                    100%{opacity:1}
                }
            }
        }
        
    }
    .h-soldProduct{
        .sold-first .sold-detail,.sold-second .sold-detail{
            animation:trans2 .5s alternate linear;
        }
    }
    .h-viewProduct{
        .view-first .view-detail,.view-second .view-detail{
            animation:trans2 .5s alternate linear;
        }
    }
    .h-product {
        animation:bc .5s alternate linear;
        .product-info {
            .product-detail {
                animation:trans2 .5s alternate linear;
            }
        }
        @keyframes trans2{
            0%{opacity:0;transform: translateY(50%)}
            100%{opacity:1;transform: translateY(0%)}
        }
        .product-info:hover {
            .product-detail{
                .items{
                    .accessInf{
                        .items-brand,.items-type{
                            background-color: #29295c;
                            color:#fff;
                            transition:all .2s linear
                        }
                    }
                    .productAccess{
                        .information{
                            p{
                                color:white
                            }
                        }
                    }
                }
            }
        }
    }
    .h-access {
        animation:bc .5s alternate linear;
        .accDemo {
            .accDemo_Child {
                animation:trans2 .5s alternate linear;
            }
        }
        .accDemo:hover {
            .accDemo_Child{
                .accessInf{
                   p{color:white}
                }
            }
        }
    }
    
    @keyframes oP{
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
    }
}

