/* Animation */
@keyframes scale{
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.1,1.1);
    }
}

.home{
    width:100%;
    height:100%;
}
.product{
    width:100%;
    height:50%;
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    justify-content: space-between;
    .product-infor{
        width: 25%;
        height: 520px;
        /* display: inline-block; */
        /* margin-left: 6.3%; */
        /* margin-top: 2%; */
        margin: 2%;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        border: 1px solid rgba(255, 255, 255, 0.2);
        transform: scale(1, 1);
        border-radius: 10px;
        .product-detail{
            display:block;
            width:100%;
            height:100%;
            background-color: transparent;
            .image{
                width:100%;
                height:30%;
                img{
                    width:75%;
                    height:100%;
                    margin-bottom: 10%;
                    margin-left:12%;
                    object-fit: contain;
                    mix-blend-mode: color-burn;
                    background-image: none !important;
                }
            }
            .items{
                width: 100%;
                height:70%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                .title{
                    width:100%;
                    height:10%;
                     p{
                        text-align: center;
                        margin-left: 0%;
                        font-size: 20px;
                        height: 50px;
                        width: 100%;
                        color:#940606;
                    }
                }
                .productAccess{
                    width: 100%;
                    height: 56%;
                    margin-top: 12%;
                    .information{
                        padding-left:3%;
                    }
                }
                .items-child{
                    width:100%;
                    height:21%;
                    display: flex;
                    justify-content: space-between;
                    .money{
                        width:50%;
                        font-size: 20px;
                        margin-left: 3%;
                        color: #940606;
                    }
                    .button{
                        width: 40%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row-reverse;
                        button{
                            width: 30px;
                            height: 30px;
                            font-size: 16px;
                            border: none;
                            border-radius: 10px;
                            background-color: #BBBBBB;
                            box-shadow: 2px 2px #444444;
                            margin-right:5%;
                        
                        }
                        button:hover{
                            background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
                            text-decoration:underline;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .product-infor:hover{
        transform: scale(1.1,1.1);
        animation:scale .5s ease normal;
        opacity: 1;
    }
}







.more{
    width:150px;
    height:50px;
    border:none;
    border-radius:10px;
    background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
    font-size:15px;
    color:#fff;
    margin-left:45%;
    margin-top:2%;
}
.more a{
    text-decoration:none;
    color:#000;
    font-size:20px;
}
.more:hover{
    background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
    animation: anima .3s ease infinite;
}
@keyframes anima{
    0%{
        background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
    }
    25%{
        background-image:linear-gradient(to right,#999999,#888888,#777777, #AAAAAA);
    }
    50%{
        background-image:linear-gradient(to right,#888888,#777777, #AAAAAA,#999999);
    }
    75%{
        background-image:linear-gradient(to right,#777777, #AAAAAA,#999999,#888888);
    }
    100%{
        background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
   
    }
}
.more a:hover{
    color:#fff;
    text-decoration:underline;
}
.demoContainer{
    width:80%;
    overflow: hidden;
    display:inline-block;

    .demoContent-child{
        width:50%;
    }
}
.Access{
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: inline-block;
    .accDemo{
        width: 20%;
        height: 300px;
        display: inline-block;
        margin-left: 3.6%;
        margin-top: 2%;
        //animation glassmorphism
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        transform: scale(1, 1);
        border-radius:10px;
    
        .accDemo_Child{
            width:10%;
            display:inline-block;
        }
        img{
            width:250px;
            height:150px;
            margin-left: 100%;
            margin-top: 33%;
            object-fit: contain;
            mix-blend-mode: color-burn;
            background-image: none !important;
        }
        p{
            position: absolute;
            font-size: 18px;
            margin-left:20px;
        }
        .price{
            width:210%;
            height:40px;
            color:#fff;
            margin-top:200%;
            margin-left:50%;
            background-image: linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
            border:none;
            border-radius:15px;
        }
    }
    .accDemo:hover{
        background: rgba(255, 255, 255, 0.15);
        transform: scale(1.1,1.1);
        animation:scale .5s ease normal;
    }
    .addToCard{
        width: 50%;
        height: 35px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        background-color: #BBBBBB;
        margin-left: 44%;
        margin-top: -12%;
        position: absolute;
        box-shadow: 2px 2px #444444;
    }
    .addToCard:hover{
        background-image:linear-gradient(to right, #AAAAAA	,#999999,#888888,#777777);
        text-decoration:underline;
        color:#fff;
    }
}