.product {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 2% 0;

    .items_container {
        .show {
            .product-detail {
                .detail-box {
                    border-radius: 5px;
                    border:solid 1px rgb(120, 119, 119);
                }
                
            }
        }
        
    }
}
