.product {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding: 2% 0;
    .fill {
        margin:2% 5%;
        svg{
            margin:auto 2%;
        }
        &:hover{
            color:#ffff;
            border-radius:10px;
            transition: all .8s;
            background-color: #2735af;
        }
    }
    .filter {
        transition: all 0.3s;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        .closeFil {
            p {
                &:hover{
                    transition: all .5s;
                    background-color: #2735af;
                }
            }
            
            svg {
                width: 30px;
                height: 30px;
                border-radius: 60%;
                background-color: #ffffff75;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                margin-right: 3%;
                opacity: 1;
                cursor: pointer;
                path {
                    fill: #1a7dc3;
                }
            }
        }
        .box_filter {
            p {
                &:hover{
                    transition: all .5s;
                    background-color: #2735af;
                }
            }
            .box_filter_detail {
                margin-left: 10%;
                margin-top: 5%;
                font-size: 20px;
                background-color: transparent;
                input[type="checkbox"],
                input[type="radio"] {
                    accent-color: #373635;
                    border-radius: 50%;
                    cursor: pointer;
                }
                label {
                    margin-left: 7%;
                    cursor: pointer;
                    color:#0534f4;
                    font-weight: 600;
                }
                input:checked + label {
                    color:rgb(188, 12, 12);
                }
            }
        }
    }

    .items_container {
        margin: 2% auto;
        .show {
            .product-detail {
                .detail-box {
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    .button {

                        button {

                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }

                        button:hover {
                            transition: all 0.3s;
                        }
                        button:nth-child(3):hover svg path {
                            fill: rgb(211, 8, 8);
                        }
                    }
                }
                .detail-box:hover {
                    background: rgba(28, 28, 28, 0.15);
                    border-radius: 15px;
                    transition: all 0.2s linear;
                }
            }
        }
        
    }
}

@media (max-width: 1000px) {
    .product {
        .fill{
            width:60%;
        }
        .filter{
            .box_filter{
                .box_filter_detail{
                    label{
                        font-weight: 600;
                    }
                }
            }
        }
        .items_container {
            .show {
                .product-detail {
                    margin: 2% auto;
                }
            }
            
        }
    }
}
