.successContainer{
    .iconSuccess{
        svg{
            height:30%;
        }
    }
    .checkItems, .back{
        a{
            width:50%;
            text-decoration: none;
            color:#000;
            font-size:20px;
            font-weight: 550;
            text-align: center;
            span{
                width:50%;
                margin-left:1%;
            }
        }
        a:hover{
            color:rgb(70, 117, 200);
        }
    }
}