.accessory {
    width: 100%;
    /* height: 1000px; */
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    /* margin: 2% auto; */
    padding: 2% 0;
    .filter {
        width: 25%;
        height: 1030px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        color: #000;
        p {
            text-align: center;
            color: #fff;
            font-size: 30px;
            margin-top: 2%;
        }
        .box_filter {
            width: 100%;
            height: 40%;
            margin-top: -5%;
            padding-bottom: 5%;
            h3 {
                margin-left: 5%;
                margin-top: 5%;
                font-size: 20px;
            }
            .box_filter_detail {
                width: 80%;
                margin-left: 10%;
                margin-top: 5%;
                font-size: 20px;
                input[type="checkbox"] {
                    accent-color: #373635;
                    border-radius: 50%;
                    cursor: pointer;
                }
                label {
                    margin-left: 7%;
                    cursor: pointer;
                }
                input:checked + label{
                    color:#0534f4;
                    font-weight:550
                }
            }
        }
    }
    .filterMob{
        display: none;
        width:90%;
        flex-direction: column;
        margin:2% auto;
        .aboutBrandMob,.aboutTypeMob{
            display:flex;
            flex-direction: column;
            h2{
                text-align: center;
            }
            .itemsBrand,.itemsPrice{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                
                .brandDetail,.priceDetail{
                    margin-left:4%;
                    margin-bottom:2%;
                    label{
                        display:flex;
                        color:#000;
                        cursor: pointer;
                        input{
                            margin-right:10%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .items_container {
        width: 70%;
        min-height: 500px;
        max-height: 1030px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px 0px 0px 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 75%);
        overflow: scroll;
        .show {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            padding-bottom:4%;
            .product-detail {
                width: 20%;
                height: 40%;
                margin-left:4%;
                margin-top: 3%;
                border-radius:15px;
                cursor: pointer;
                .detail-box {
                    width: 100%;
                    min-width: 150px;
                    height: 14em;
                    background-color: transparent;
                    display: flex;
                    border: solid 0.5px grey;
                    border-radius: 15px;
                    flex-direction: column;
                    justify-content: space-between;
                    img {
                        width: 50%;
                        height: 40%;
                        margin: 1% auto;
                        object-fit: contain;
                        background-image: none !important;
                    }
                    .button {
                        height: 12%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: stretch;
                        margin-bottom: 5%;
                        button {
                            width: 30px;
                            height: 30px;
                            font-size: 16px;
                            border: none;
                            border-radius: 10px;
                            background-color: rgb(70, 117, 200);
                            margin-right: 5%;
                            box-shadow: 2px 2px #444444;
                            cursor: pointer;
                        }
                        button:nth-child(2){
                            a{
                                text-decoration: none;
                                svg{
                                    path{
                                        fill:#000
                                    }
                                }
                            }
                        }button{
                            svg{
                                path{
                                    fill:#fff;
                                }
                            }
                        }
                        button:nth-child(2){
                            a{
                                text-decoration: none;
                                svg{
                                    path{
                                        fill:#fff
                                    }
                                }
                            }
                        }
                        button:hover {
                            transform: scale(1.1, 1.1);
                            animation: scale 0.5s ease;
                        }
                        @keyframes scale {
                            0% {
                                transform: scale(1, 1);
                            }
                            100% {
                                transform: scale(1.1, 1.1);
                            }
                        }
                        button:nth-child(3):hover svg path {
                            fill: rgb(211, 8, 8);
                        }
                        
                    }
                    .title {
                        width: 100%;
                        height: 27%;
                        margin-top: 0%;
                        h4 {
                            font-size: 15px;
                            text-align: center;
                            color: rgb(188, 12, 12);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    p {
                        font-weight: 600;
                        margin-top: 11%;
                        font-size: 16px;
                        margin-left: 5%;
                        color: rgb(188, 12, 12);
                    }
                }
                .detail-box:hover {
                    background: rgba(255, 255, 255, 0.15);
                    border-radius: 15px;
                    transform: scale(1.1, 1.1);
                    animation: scale 0.5s ease normal;
                }
                @keyframes scale {
                    0% {
                        transform: scale(1, 1);
                    }
                    100% {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }
}
@media(max-width:1000px){
    .accessory{
        display: flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        .filter{
            display:none;
        }
        .filterMob{
            display: flex;
        }
        .items_container{
            width:90%;
            box-shadow: 1px 1px 1px 1px  grey;
            overflow-x: hidden;
            .show{
                justify-content: flex-start;
                .product-detail{
                    min-width: 160px;
                    margin:2% auto;
                    .detail-box{
                        height:13em;
                        .title{
                            h4{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
